version: "3.8"
name: "clean-ddd-app"

services:
  order_db:
    container_name: "clean_app_order_db"
    image: postgres:latest
    volumes:
      - postgres_data_order:/var/lib/postgresql/data/
    ports:
      - "5444:5432"
    env_file:
      - ./order/.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  warehouse_db:
    container_name: "clean_app_warehouse_db"
    image: postgres:latest
    volumes:
      - postgres_data_warehouse:/var/lib/postgresql/data/
    ports:
      - "5445:5432"
    env_file:
      - ./warehouse/.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  courier_db:
    container_name: "clean_app_courier_db"
    image: postgres:latest
    volumes:
      - postgres_data_courier:/var/lib/postgresql/data/
    ports:
      - "5446:5432"
    env_file:
      - ./courier/.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  customer_db:
    container_name: "clean_app_customer_db"
    image: postgres:latest
    volumes:
      - postgres_data_customer:/var/lib/postgresql/data/
    ports:
      - "5447:5432"
    env_file:
      - ./customer/.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  message_bus_zookeeper:
    container_name: "clean_app_message_bus_zookeeper"
    image: confluentinc/cp-zookeeper:latest
    env_file:
      - .env
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD-SHELL", "zookeeper-shell localhost:2181 ls / 2>&1 | grep zookeeper"]
      interval: 5s
      timeout: 3s
      retries: 3

  message_bus_kafka:
    container_name: "clean_app_message_bus_kafka"
    image: confluentinc/cp-kafka:latest
    depends_on:
      message_bus_zookeeper:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "9092:9092"
      - "29092:29092"
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics --bootstrap-server localhost:9092 --list >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  order_service:
    container_name: "clean_app_order_service"
    build:
      context: ./order
      dockerfile: Dockerfile
    volumes:
      - ./order:/order
    depends_on:
      order_db:
        condition: service_healthy
      message_bus_kafka:
        condition: service_healthy
    env_file:
      - ./order/.env
    environment:
      - DEV_MODE=air
    ports:
      - "50051:50051"
    restart: always

  warehouse_service:
    container_name: "clean_app_warehouse_service"
    build:
      context: ./warehouse
      dockerfile: Dockerfile
    volumes:
      - ./warehouse:/warehouse
    depends_on:
      warehouse_db:
        condition: service_healthy
      message_bus_kafka:
        condition: service_healthy
    env_file:
      - ./warehouse/.env
    environment:
      - DEV_MODE=air
    ports:
      - "50052:50051"
    restart: always

  courier_service:
    container_name: "clean_app_courier_service"
    build:
      context: ./courier
      dockerfile: Dockerfile
    volumes:
      - ./courier:/courier
    depends_on:
      courier_db:
        condition: service_healthy
      message_bus_kafka:
        condition: service_healthy
    env_file:
      - ./courier/.env
    environment:
      - DEV_MODE=air
    ports:
      - "50053:50051"
    restart: always

  customer_service:
    container_name: "clean_app_customer_service"
    build:
      context: ./customer
      dockerfile: Dockerfile
    volumes:
      - ./customer:/customer
    depends_on:
      customer_db:
        condition: service_healthy
    env_file:
      - ./customer/.env
    environment:
      - DEV_MODE=air
    ports:
      - "50054:50051"
    restart: always


volumes:
  postgres_data_order:
  postgres_data_warehouse:
  postgres_data_courier:
  postgres_data_customer:
